.card {
  width: 100%;
  max-height: 271px;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.card__container {
  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: 32px;
  align-items: center;
  padding: 14px;
}

.card__title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__subtitle {
  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 9px;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card__link {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: opacity .3s;
}

.card__link:hover {
  opacity: 0.7;
}

.card__image {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  background-color: #A0A0A0;
  aspect-ratio: 16/9;
}

.card__fav-button {
  width: 30px;
  height: 30px;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-image: url(../../images/card-fav-button-pic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: opacity .3s;
  cursor: pointer;
}
.card__fav-button:hover {
  opacity: 0.8;
}

.card__fav-button_active {
  background-image: url(../../images/card-fav-button-pic-active.svg);
}

.card__delete-button {
  width: 30px;
  height: 30px;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-image: url(../../images/card-delete-button-pic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: opacity .3s;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1180px) {
  .card {
    max-height: 258px;
  }
}

@media screen and (max-width: 685px) {
  .card {
    max-height: 236px;
  }
}