.movies {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 0 70px 80px;
}

@media screen and (max-width: 900px) {

  .movies {
    padding: 0 30px 80px;
  }
}

@media screen and (max-width: 425px) {

  .movies {
    padding: 0 10px 80px;
  }
}