.not-found {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 246px 0 60px;
}

.not-found__title {
  color: #000;
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.not-found__subtitle {
  margin: 0;
  padding: 5px 0 0;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.not-found__button {
  color: #FF6838;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 184px 0 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: opacity .3s;
  cursor: pointer;
}

.not-found__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {

  .not-found {
    padding: 329px 0 30px;
  }
  .not-found__title {
    font-size: 80px;
  }

  .not-found__subtitle {
    font-size: 12px;
    padding-top: 10px;
  }

  .not-found__button {
    font-size: 12px;
    margin-top: 284px;
  }
}